<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h6>About</h6>
        <p class="text-justify">We are an ambitious company and we’re always looking for great people to join our team – from personal trainers, group exercise instructors and club managers to our front-of-house teams. We’re committed to training, so you’ll be encouraged to improve your existing skills while you develop new ones.</p>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
          <a href="#">Scanfcode</a>.
        </p>
      </div>

<!--      <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--        <ul class="social-icons">-->
<!--          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>-->
<!--          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>
  </div>
</footer>
