<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="alert alert-danger thick" role="alert">
        Mem. Balance: {{ totalMemBalance }}
        <a routerLink="#" class="float-right">More</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="alert alert-warning thick" role="alert">
        PT Balance: {{ totalPtBalance }}<a routerLink="#" class="float-right">More</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="alert alert-info thick" role="alert">
        Cafe Balance: 46000.0.<a routerLink="#" class="float-right">More</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="alert alert-success thick" role="alert">
        Balance: 46000.0.<a routerLink="#" class="float-right">More</a>
      </div>
    </div>
  </div>
</div>
