<div class="list-group" style="margin-top: 10px">
  <a
    [routerLink]="['/main', { outlets: { c: ['dashboard'] } }]"
    class="list-group-item list-group-item-action text-secondary"
  >
    <em class="fas fa-tachometer-alt" style="padding-right: 10px"></em>Dashboard
  </a>

  <a
    [routerLink]="['/main', { outlets: { c: ['membership'] } }]"
    class="list-group-item list-group-item-action text-secondary"
  >
    <em class="fas fa-users-cog" style="padding-right: 10px"></em>Memberships
  </a>

  <a
    [routerLink]="['/main', { outlets: { c: ['client'] } }]"
    class="list-group-item list-group-item-action text-secondary"
  >
    <em class="fas fa-users" style="padding-right: 10px"></em>Clients
  </a>
  <a
    [routerLink]="['/main', { outlets: { c: ['coach'] } }]"
    class="list-group-item list-group-item-action text-secondary"
  >
    <em class="fas fa-chalkboard-teacher" style="padding-right: 10px"></em
    >Coaches
  </a>
  <a
    [routerLink]="['/main', { outlets: { c: ['cafe'] } }]"
    class="list-group-item list-group-item-action text-secondary"
  >
    <em class="fas fa-coffee" style="padding-right: 10px"></em>Cafe
  </a>

  <a
    [routerLink]="['/main', { outlets: { c: ['cafe'] } }]"
    class="list-group-item list-group-item-action text-secondary"
  >
    <em class="fas fa-cog" style="padding-right: 10px"></em>Settings
  </a>
</div>
